body {
	background-color: #dfdfdf;
	font-family: arial;
	color: black;
}
h1{
	font-size: 100pt;
	color: black;
}
h2 {
color: White;
background-color: #cdf5f7 }
p {
	background-color: white;}
img.align-center{
	display: block;
	margin: 0px auto;
}
figure {
	text-align: center;
}
