body {
font-family: arial;
background-image: url("sky.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}
h2 {
color: black;

p {
color: black;}
form{
	vertical-align: bottom;
	text-align: right;
}