body {
	font-family: arial;
	color: #184b04;
	background-image: url("stonehenge.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top-left;
	font-size: 14pt;
}
h1{
	font-size: 80pt;
	color: black;
}
h2{
	color: black;
}
h3{
	color: black;
}
h4{
	color: #041a4b;
}